params {
    // optional arguments (no defaults)
    partition = null
    scores    = "${projectDir}/databases/mm10_10kbp_up_10kbp_down_full_tx_v10_clust.genes_vs_motifs.scores.feather"
    outdir    = "${projectDir}/results"

    // required arguments
    h5ad     = null
    tfs      = "${projectDir}/databases/allTFs_mm.txt"
    rankings = "${projectDir}/databases/mm10_10kbp_up_10kbp_down_full_tx_v10_clust.genes_vs_motifs.rankings.feather"
    motifs   = "${projectDir}/databases/motifs-v10nr_clust-nr.mgi-m0.001-o0.0.tbl"

    // environments / containers
    io_container = '/home/aspandit/lab/scenic/containers/h5ad-to-loom.sif'
}


process {
    executor = 'slurm'
    clusterOptions = "--mail-type=ALL --mail-user=${System.getenv('USER')}@ucsc.edu"

    withName: h5ad_to_loom {
	container = params.io_container
        cpus = 2
        memory = '4 GB'
        time = '10m'
        queue = params.partition
    }
    
    withName: infer_grn {
        cpus = 8
        memory = '16 GB'
        time = '8h'
        queue = params.partition
    }

    withName: cisTarget {
        cpus   = 8
        memory = '32 GB'
        time   = '1h'
        queue  = params.partition
    }

    withName: aucell {
        cpus   = 8
        memory = '32 GB'
        time   = '30m'
        queue  = params.partition
    }

    withName: add_auc_to_h5ad {
	container = params.io_container
        cpus   = 2
        memory = '4 GB'
        time   = '30m'
        queue  = params.partition
    }
}

singularity {
    enabled = true
    autoMounts = true
}
